<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <!-- 輸入檔案欄位，每次有檔案更新時執行 convertToAvif 方法 -->
    <input type="file" ref="fileInput"/>
    <!-- 點擊按鈕執行 convertToAvif 方法 -->
    <button @click="convertToAvif">Convert to AVIF</button>
    <div class="circular"
         v-bind:style="{ 'background-image': 'url(https://media.gq.com.tw/photos/5ff2e74104b957ff551fad5d/master/pass/bg03.jpg)' }"></div>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import {encode} from '@jsquash/avif';
// const sharp = require('sharp');

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  methods: {
    async convertToAvif() {
      // 取得輸入檔案欄位的參照
      const fileInput = this.$refs.fileInput;
      // 取得輸入的檔案
      const file = fileInput.files[0];
      // 建立一個 Image 物件
      const image = new Image();
      // 將檔案的 URL 賦值給 Image 物件的 src 屬性
      image.src = URL.createObjectURL(file);
      // 等待 Image 物件被解碼
      await image.decode();

      // 建立一個 canvas 物件
      const canvas = document.createElement('canvas');
      // 將 Image 物件的寬度和高度賦值給 canvas 物件的寬度和高度
      canvas.width = image.width;
      canvas.height = image.height;
      // 取得 canvas 物件的 2D 繪圖環境
      const ctx = canvas.getContext('2d');
      // 在 canvas 上繪製 Image 物件
      ctx.drawImage(image, 0, 0);
      const imageData = ctx.getImageData(0, 0, image.width, image.height);
      const startTime = new Date();
      // encode
      const data = await encode(imageData, {cqLevel: 30, speed: 200});
      const endTime = new Date();
      // Download the AVIF image
      const link = document.createElement("a");
      link.href = URL.createObjectURL(new Blob([data], {type: "image/avif"}));
      const filename = file.name;
      link.download = filename.replace(filename.slice((filename.lastIndexOf(".") - 1 >>> 0) + 2), "avif");
      link.click();

      // log
      console.log('-------------------------------------------');
      console.log(startTime);
      console.log(endTime);
      console.log('檔案大小 : ' + file.size / 1024 + 'Kb')
      console.log('花費時間 : ' + (endTime.getTime() - startTime.getTime()) / 1000 + '秒');
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
